.content_card
{
    background-color: rgb(1, 24, 108);
    width: 900px;
    height: 450px;
    /* display: flex;
    justify-content: center; */
    color: rgb(247, 250, 249);
}
.content_card h2
{
    text-align: center;
}
.card_div
{
    display: flex;
    justify-content: center;
}